<div class="bg-base-200 border-base-300 rounded-box w-xs border p-5">
  <h2 class="text-2xl font-bold mb-4" i18n="@@noAccountsTitle">No Accounts</h2>
  <p class="mb-6" i18n="@@noAccountsComponentMessage">
    You currently have no accounts. Please create a new account to get started.
  </p>
  <div class="flex justify-end space-x-2">
    <button
      class="btn btn-primary"
      (click)="handleCreateAccount()"
      i18n="@@goToCreateAccountAction">
      Create Account
    </button>
  </div>
</div>
