<div class="overflow-x-auto">
  @if (selection().length > 0) {
  <div>
    <div class="bg-base-200 p-4 rounded-lg mb-4">
      <div>
        <span>{{ selection().length }} <span i18n="@@itemsSelected">item(s) selected.</span></span>
        <button class="btn btn-sm btn-soft btn-error ml-4" i18n="@@deleteSelected" (click)="onDeleteSelection.emit(selection()); selection.set([])">
          Delete Selected
        </button>
      </div>
    </div>
  </div>
  }
  @if (data().length === 0) {
  <div class="p-4 text-center">
    <span i18n="@@noData">Add some items to start seeing data here</span>
  </div>
  }
  @else {
  <table class="table">
    <thead>
      <tr>
        @if (config().selectable ?? true) {
        <th>
          <input
            type="checkbox"
            [checked]="selection().length === data().length"
            (change)="toggleSelectAll()"
            class="checkbox checkbox-primary" />
        </th>
        }
        @for (field of config().fields; track $index) {
        <th><span class="text-xs md:text-base">{{ config().labels?.[field] ?? [field] }}</span></th>
        }
        @if (config().actions ?? true) {
        <th></th>
        }
      </tr>
    </thead>

    <tbody>
      @for (item of data(); track $index) {
      <tr class="cursor-pointer hover:bg-base-200" (click)="onElementClick.emit(item)">
        @if (config().selectable ?? true) {
        <th>
          <input
            type="checkbox"
            [checked]="selection().includes(item)"
            (change)="onCheckboxChange(item)"
            class="checkbox checkbox-primary" />
        </th>
        }
        @for (field of config().fields; track $index) {
        <td>
          <div class="flex items-center gap-2">
            @if (config().avatars?.includes(field)) {
            <div class="avatar">
              <div class="mask mask-squircle h-8 w-8 sm:h-10 sm:w-10 md:h-12 md:w-12">
                @if (config().fields.includes('image')) {
                <img [src]="item['image']" />
                } @else {
                <img [src]="item[field] | avatar" />
                }
              </div>
            </div>
            }
            <span
              [class.text-success]="config().colorFns?.[field]?.(item[field], item) === 'success'"
              [class.text-error]="config().colorFns?.[field]?.(item[field], item) === 'error'"
              [class.text-primary]="config().colorFns?.[field]?.(item[field], item) === 'primary'"
              [class.text-secondary]="config().colorFns?.[field]?.(item[field], item) === 'secondary'"
              [class.text-accent]="config().colorFns?.[field]?.(item[field], item) === 'accent'"
              class="text-sm md:text-lg"
            >
              @if (config().formats?.[field] === 'date') {
              {{ item[field] | date:"MMM dd yyyy, HH:mm" }}
              } @else if (config().formats?.[field] === 'currency') {
              {{ item[field] | currency }}
              } @else if (config().formats?.[field] === 'percent') {
              {{ item[field] | percent }}
              } @else {
              {{ item[field] }}
              }
            </span>
          </div>
        </td>
        }

        @if (config().actions ?? true) {
        <td class="flex justify-end gap-2 relative">
          <div class="hidden md:flex gap-2">
            <button class="btn btn-soft" (click)="$event.stopPropagation(); onEdit.emit(item)">
              <span class="material-symbols-outlined">edit</span>
            </button>
            <button class="btn btn-soft btn-error" (click)="$event.stopPropagation(); onDelete.emit(item); this.selection.set([])">
              <span class="material-symbols-outlined">delete</span>
            </button>
          </div>

          <div class="md:hidden relative">
            <button class="btn btn-ghost p-0 md:p-2"
              (click)="$event.stopPropagation(); openId.set(openId() === item['id'] ? null : item['id'])">
              @if (openId() === item['id']) {
              <span class="material-symbols-outlined">close</span>
              } @else {
              <span class="material-symbols-outlined">keyboard_arrow_down</span>
              }
            </button>

            @if (openId() === item['id']) {
            <div class="absolute flex right-10 bottom-0 z-50 gap-2 mt-2 p-2 bg-base-300 rounded-lg shadow-lg">
              <button
                class="btn btn-soft"
                (click)="$event.stopPropagation(); onEdit.emit(item); openId.set(null)"
              >
                <span class="material-symbols-outlined text-base mr-2">edit</span>
              </button>
              <button
                class="btn btn-soft btn-error"
                (click)="$event.stopPropagation(); onDelete.emit(item); openId.set(null)"
              >
                <span class="material-symbols-outlined text-base mr-2">delete</span>
              </button>
            </div>
            }
          </div>
        </td>
        }
      }
    </tbody>
    <!--
    <tfoot>
      <tr>
        <th></th>
        @for (field of config().fields; track field) {
        <th>{{ config().labels?.[field] ?? [field] }}</th>
        }
      </tr>
    </tfoot>
    -->
  </table>
  }
</div>

