<div class="container mx-auto py-10 px-5">
  <h1 class="text-2xl font-bold mb-4" i18n="@@summary">Summary</h1>
  <div class="flex flex-col lg:flex-row gap-4">
    @if (!transactionResource.isLoading()) {
    <app-line-chart
      [series]="transactionHelper.previousYearComparativeChart(transactionResource.value()?.content || [])"
      [categories]="transactionHelper.MONTHS"
      class="w-full lg:flex-1 mb-4 lg:mb-0"
    />
    }
    @else {
    <div class="w-full lg:flex-1 mb-4 flex items-center justify-center">
      <app-loading />
    </div>
    }
    <div class="flex flex-col w-full lg:w-auto lg:py-10">
      <div class="stats bg-base-100 border-base-300 border mb-3 sm:mb-4 flex flex-col sm:flex-row">
        <div class="stat py-2 sm:py-4 text-center">
          <div class="stat-title text-sm" i18n="@@yourMoney">Your Money</div>
          <div class="stat-value text-2xl sm:text-4xl text-primary">{{ totalBalance() | currency }}</div>
        </div>

        <div class="stat py-2 sm:py-4 text-center">
          <div class="stat-title text-sm" i18n="@@thisMonthBalance">This Month Balance</div>
          <div class="stat-value text-2xl sm:text-4xl">{{ thisMonthBalance() | currency }}</div>
        </div>
      </div>
      <div class="flex flex-col gap-2 sm:gap-3 mb-6 sm:mb-10 justify-center">
        <button type="button" class="btn btn-success btn-sm sm:btn-md w-full" (click)="handleAddIncome()">
          <span class="material-symbols-outlined text-lg">add</span>
          <span i18n="@@income">Income</span>
        </button>
        <button type="button" class="btn btn-error btn-sm sm:btn-md w-full" (click)="handleAddExpense()">
          <span class="material-symbols-outlined text-lg">remove</span>
          <span i18n="@@expense">Expense</span>
        </button>
        <button type="button" class="btn btn-primary btn-sm sm:btn-md w-full" (click)="handleTransfer()">
          <span class="material-symbols-outlined text-lg">compare_arrows</span>
          <span i18n="@@transfer">Transfer</span>
        </button>
      </div>
    </div>
  </div>
  <h1 class="text-2xl font-bold mb-4" i18n="@@recentTransactions">Recent Transactions</h1>
  <app-table
    [data]="transactionResource.value()?.content?.slice(0,10) ?? []"
    [config]="transactionHelper.tableBasic()"
    [class.hidden]="transactionResource.isLoading()"
  />
  @if (transactionResource.isLoading()) {
  <div class="flex items-center justify-center">
    <app-loading />
  </div>
  }
</div>
