<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <a routerLink="/" class="btn btn-ghost flex lg:hidden">
      <app-logo size="large"></app-logo>
    </a>
    <div class="dropdown m-0 p-0 hidden lg:flex">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm m-0 absolute left-0 h-screen dropdown-content bg-base-100 rounded-box z-1 w-70 shadow">
        <li class="mb-2">
          <a routerLink="/" routerLinkActive="text-primary">
            <span class="material-symbols-outlined">
              space_dashboard
            </span>
            <span class="text-lg" i18n="@@dashboard">Dashboard</span>
          </a>
        </li>
        <li class="mb-2">
          <a routerLink="/accounts" routerLinkActive="text-primary">
            <span class="material-symbols-outlined">
              account_balance_wallet
            </span>
            <span class="text-lg" i18n="@@accounts">Accounts</span>
          </a>
        </li>
       <li class="mb-2">
          <a routerLink="/transactions" routerLinkActive="text-primary">
            <span class="material-symbols-outlined">
              sync_alt
            </span>
            <span class="text-lg" i18n="@@transactions">Transactions</span>
          </a>
        </li>
       <li class="mb-2">
          <a routerLink="/reports" routerLinkActive="text-primary">
            <span class="material-symbols-outlined">
              analytics
            </span>
            <span class="text-lg" i18n="@@reports">Reports</span>
          </a>
        </li>
        @if (authService.user()?.isAdmin) {
        <li class="mb-2">
          <a routerLink="/admin" routerLinkActive="text-primary">
            <span class="material-symbols-outlined">
              manage_accounts
            </span>
            <span class="text-lg" i18n="@@adminDashboard">Admin Dashboard</span>
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
  <div class="navbar-center hidden lg:flex">
    <a routerLink="/" class="btn btn-ghost">
      <app-logo size="large"></app-logo>
    </a>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end me-4">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            [src]="['https://api.dicebear.com/9.x/initials/svg?seed=', authService.user()?.name]" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a class="text-lg" i18n="@@profile">Profile</a></li>
        <li><a class="text-lg" i18n="@@settings">Settings</a></li>
        <li><a class="text-lg" i18n="@@logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="dock dock-xl flex lg:hidden">
  <a routerLink="/" routerLinkActive="dock-active">
    <span class="material-symbols-outlined">
      space_dashboard
    </span>
    <span class="dock-label mb-1" i18n="@@dashboard">Dashboard</span>
  </a>

  <a routerLink="/accounts" routerLinkActive="dock-active">
    <span class="material-symbols-outlined">
      account_balance_wallet
    </span>
    <span class="dock-label mb-1" i18n="@@accounts">Accounts</span>
  </a>

  <a routerLink="/transactions" routerLinkActive="dock-active">
    <span class="material-symbols-outlined">
      sync_alt
    </span>
    <span class="dock-label mb-1" i18n="@@transactions">Transactions</span>
  </a>

  <a routerLink="/reports" routerLinkActive="dock-active">
    <span class="material-symbols-outlined">
      analytics
    </span>
    <span class="dock-label mb-1" i18n="@@reports">Reports</span>
  </a>

  @if (authService.user()?.isAdmin) {
  <a routerLink="/reports" routerLinkActive="dock-active">
    <span class="material-symbols-outlined">
      manage_accounts
    </span>
    <span class="dock-label mb-1" i18n="@@admin">Admin</span>
  </a>
  }
</div>
