<div class="w-full h-screen flex flex-col justify-center items-center px-5 py-0">
  <app-logo size="extralarge" class="mb-2 sm:mb-6" />
  <div class="w-full sm:w-xs py-0 px-4 sm:px-6 flex flex-col items-center">
    <div class="tabs tabs-border w-full flex justify-center mb-3" i18n="@@createAdminUser">
      <input type="radio" name="tabs" class="tab text-lg sm:text-xl flex-1" i18n-aria-label="{@@login}" aria-label="Login" checked (click)="selectedTab.set('login')"/>
      <input type="radio" name="tabs" class="tab text-lg sm:text-xl flex-1" i18n-aria-label="{@@register}" aria-label="Register" (click)="selectedTab.set('register')"/>
    </div>

    <app-form
      [fields]="formFields()"
      [submitButtonText]="submitLabel()"
      title=""
      [cancellable]="false"
      (formSubmit)="handleSubmit($event)" />

    @if (selectedTab() === 'login') {
      <button type="button" class="link link-primary no-underline hover:no-underline text-xs mt-3 text-center" (click)="fillDemoCredentials()">
        <span i18n="@@useDemoUser">Use demo user</span>
      </button>
    }
  </div>
</div>
