<form [formGroup]="formGroup()" (ngSubmit)="onSubmit()" autocomplete="off">
  <fieldset class="fieldset m-auto bg-base-200 border-base-300 rounded-box w-xs border p-5">
    <span class="text-lg font-bold mb-4 block">
      {{ title() }}
    </span>
    @for (field of fields(); track field.key) {
    <label [for]="field.key" class="label">{{ field.label }}</label>
    <input
      [id]="field.key"
      [type]="field.type"
      [formControlName]="field.key"
      [placeholder]="field.placeholder || field.label"
      class="input"
    />
    @if (formUtils.isValidField(formGroup(), field.key)) {
    <div class="text-error">
      <span>{{ formUtils.getFieldError(formGroup(), field.key) }}</span>
    </div>
    }
    }
    <div class="form-actions flex justify-end mt-4">
      <button class="btn btn-error btn-soft me-1 flex-1/2" i18n="@@cancel" (click)="onCancel()">
        Cancel
      </button>
      <button
        type="submit"
        [disabled]="formGroup().invalid"
        class="btn btn-primary flex-1/2"
      >
        {{ submitButtonText() }}
      </button>
    </div>
  </fieldset>
</form>
